@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<h3>Personeller Listesi</h3>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Personel Adı</th>
        <th>Personel Ünvan</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.StaffId</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="/Staff/DeleteStaff/@item.StaffId" class="btn mb-1 btn-rounded btn-danger" />Sil</td>
            <td><a href="/Staff/UpdateStaff/@item.StaffId" class="btn mb-1 btn-rounded btn-success" />Güncelle</td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-dark" />Detaylar</td>
        </tr>
    }
</table>
<a href="/Staff/AddStaff/" class="btn mb-1 btn-rounded btn-info"> Personel Ekle </a>